---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact TTJ Plumbing">
    <h1 class="text-center text-4xl font-bold mb-8">Contact TTJ Plumbing</h1>

    <p class="text-center mb-6">
        Call or email us anytime:
    </p>

    <ul class="text-center text-lg mb-10">
        <li>Phone: (469) 809-3449</li>
        <li>Email: <a href="mailto:ttjplumbing@gmail.com">ttjplumbing@gmail.com</a></li>
    </ul>

    <p class="text-center">
        <a href="mailto:ttjplumbing@gmail.com" class="btn btn-lg sm:min-w-64">Send Email</a>
    </p>
</Layout>
